@import "vars";


@media only screen and (max-width: 1280px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}
	/**/

@media only screen and (max-width: 992px) {
	.tasks .todo {
		width: 90%;
	}
}
	/**/

@media only screen and (max-width: 576px) {
	.tasks .todo__btn li:nth-child(2) {
		flex-basis: 100%;
	}
	.tasks .todo__btn li:last-child {
		flex-basis: 100%;
	}
	.tasks .todo__list_item_btn {
		flex-basis: 25%
	}
}
	/**/

@media only screen and (max-width: 480px) {
	.tasks .todo__list_item_check {
		font-size: 15px;
	}

}
	/**/