@import "libs/_normilize";
@import "libs/_reset";
@import "mixin";
@import "_vars";


@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Bold.woff2') format('woff2'),
      url('../fonts/Hack-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.woff2') format('woff2'),
      url('../fonts/Hack-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
	display: flex;
}
	

body {
  font-family: 'Hack';
  font-weight: normal;
	display: flex;
	flex-direction: column;
	width: 100%;
  min-height: 100vh;
  background-color: $body;
}
	
main {
	flex-grow: 1;
}
	

section {
	position: relative;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.header {
  background-color: $headerColor;
  padding: 30px 0;
  &__logo {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    @include font($logoFontSize, 700, $logoColor);
  }
}

.tasks{
  .todo {
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.25);
    width: 60%;
    padding: 40px;
    background-color: #fff;
    margin: 20% auto;
    &__title {
      margin: 0 0 20px 0;
      font-size: 35px;
    }
    &__panel {
      padding: 12px;
      width: 100%;
      margin-bottom: 5px;
      &:focus {
        border: 1px solid #8a8a8a;
        background-color: #fefefe;
        outline: none;
        box-shadow: 0 0 5px #cacaca;
        -webkit-transition: -webkit-box-shadow .5s,border-color .25s ease-in-out;
        transition: box-shadow .5s,border-color .25s ease-in-out;
      }
    }
    &__btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        &:first-child {
          flex-basis: 100%;
        }
        &:nth-child(2){
          flex-basis: 49%;
        }
        &:last-child{
          flex-basis: 49%;
        }
      }
      &_add, &_completed, &_clear {
        margin: 5px 0;
        width: 100%;
        align-items: center;
        color: #fff;
        font-size: 16px;
        padding: 17px 13px 14px 13px;
        display: inline-block;
        transition: opacity .25s ease-out,color .25s ease-out;
        &:hover {
          opacity: 0.8;
        }
      }
      &_add {
        background-color: $btnAdd;
      }
      &_completed {
        background-color: $btnClearComplected;
      }
      &_clear {
        background-color: $btnClear;
      }
      i { 
        margin: 0;
        font-size: 15px;
        margin: 0 5px;
      }
    }
    &__list {
      &_item {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0,0,0,0.15); 
        margin: 10px 0;
        &_check {
          text-align: left;
          padding: 15px 15px;
          cursor: pointer;
          flex-basis: 90%;
        }
        &_btn {
          background-color: transparent;
          color: #ffffff;
          padding: 15px 0;
          flex-basis: 10%;
          transition: ease display 0.3s;
          i {
            color: #000;
            &:hover {
              opacity: 0.4;
              transition: ease 0.3s;
            }
          }
        }
      }
    }
  }
}

.todo__list_item_check--completed {
  text-decoration: line-through;
  background-color: rgba(0,128,0,0.25);
  border-color: rgba(0,128,0,0.3);
  transition: ease display 0.6s;
}

.hidden {
  transition: ease display 0.6s;
  display: none;
}






	
	

@import "_media";