section.tasks#tasks
    .container
        .todo
            h2.todo__title Tasks
            input(type="text" class="todo__panel" placeholder="New task")
            ul.todo__btn
                li
                    button.todo__btn_add
                        i(class="fas fa-plus")
                        | Add
                li
                    button.todo__btn_completed
                        i(class="fas fa-check")
                        | Clear Completed
                li 
                    button.todo__btn_clear
                        i(class="fas fa-trash-alt")
                        | Clear All
            ul.todo__list
                
            
                
    