/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  font: inherit;
}

body,
h1, h2, h3, h4, h5, h6,
div, p, span, pre, iframe,
a, address, img, strong,
i, ul, li, form, label, textarea,
input, button, table, thead,
tbody, tr, th, td, canvas, header,
section, footer, audio, video {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

textarea {
  resize: none;
}

textarea,
input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@font-face {
  font-family: 'Hack';
  src: url("../fonts/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url("../fonts/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  display: flex;
}

body {
  font-family: 'Hack';
  font-weight: normal;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

section {
  position: relative;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 0;
}

.header__logo {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.tasks .todo {
  box-shadow: 0px 0.25rem 1rem rgba(0, 0, 0, 0.25);
  width: 60%;
  padding: 40px;
  background-color: #fff;
  margin: 20% auto;
}

.tasks .todo__title {
  margin: 0 0 20px 0;
  font-size: 35px;
}

.tasks .todo__panel {
  padding: 12px;
  width: 100%;
  margin-bottom: 5px;
}

.tasks .todo__panel:focus {
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  outline: none;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow .5s,border-color .25s ease-in-out;
}

.tasks .todo__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tasks .todo__btn li:first-child {
  flex-basis: 100%;
}

.tasks .todo__btn li:nth-child(2) {
  flex-basis: 49%;
}

.tasks .todo__btn li:last-child {
  flex-basis: 49%;
}

.tasks .todo__btn_add, .tasks .todo__btn_completed, .tasks .todo__btn_clear {
  margin: 5px 0;
  width: 100%;
  align-items: center;
  color: #fff;
  font-size: 16px;
  padding: 17px 13px 14px 13px;
  display: inline-block;
  transition: opacity .25s ease-out,color .25s ease-out;
}

.tasks .todo__btn_add:hover, .tasks .todo__btn_completed:hover, .tasks .todo__btn_clear:hover {
  opacity: 0.8;
}

.tasks .todo__btn_add {
  background-color: #2199e8;
}

.tasks .todo__btn_completed {
  background-color: #ffae00;
}

.tasks .todo__btn_clear {
  background-color: #ec5840;
}

.tasks .todo__btn i {
  margin: 0;
  font-size: 15px;
  margin: 0 5px;
}

.tasks .todo__list_item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

.tasks .todo__list_item_check {
  text-align: left;
  padding: 15px 15px;
  cursor: pointer;
  flex-basis: 90%;
}

.tasks .todo__list_item_btn {
  background-color: transparent;
  color: #ffffff;
  padding: 15px 0;
  flex-basis: 10%;
  transition: ease display 0.3s;
}

.tasks .todo__list_item_btn i {
  color: #000;
}

.tasks .todo__list_item_btn i:hover {
  opacity: 0.4;
  transition: ease 0.3s;
}

.todo__list_item_check--completed {
  text-decoration: line-through;
  background-color: rgba(0, 128, 0, 0.25);
  border-color: rgba(0, 128, 0, 0.3);
  transition: ease display 0.6s;
}

.hidden {
  transition: ease display 0.6s;
  display: none;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/**/
@media only screen and (max-width: 992px) {
  .tasks .todo {
    width: 90%;
  }
}

/**/
@media only screen and (max-width: 576px) {
  .tasks .todo__btn li:nth-child(2) {
    flex-basis: 100%;
  }
  .tasks .todo__btn li:last-child {
    flex-basis: 100%;
  }
  .tasks .todo__list_item_btn {
    flex-basis: 25%;
  }
}

/**/
@media only screen and (max-width: 480px) {
  .tasks .todo__list_item_check {
    font-size: 15px;
  }
}

/**/
